*, *:before, *:after {
    box-sizing: border-box;
}

#grid {
    outdline: 1px solid black;
    bordder-radius: 100%;
    width: 900px;
    height: 900px;
    background: black;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    outline: 1px solid grey;
    background: white;
    opacity: 1;
}