*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    min-height: 3em;
}

h1 {
    margin: 0;
    /* TODO: Get a nice font duo for header & text */
}

/* TODO: Style inputs and buttons */

main {
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 1.5em;
}

#grid {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background: black;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    outline: 1px dashed rgb(195, 195, 195);
    background: white;
    opacity: 1;
}